/* register_style.css */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    width: 100%; 
    max-width: 400px;
    margin: auto; 
    padding: 80px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background: #fff; 
    border-radius: 10px; 
	align-items: center;
    }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
	width: 100%; 
    max-width: 400px;
}

.choice {
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 5px; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}


.choice img {
    width: 100px; 
    height: auto; 
	margin-bottom: 10px;
}

.choice span {
     font-size: 16px; 
    font-weight: bold;
    text-align: center; 
}


form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: darkblue;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: blue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
