{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Company Information
{% endblock %}


{% block body_block %}

<style>
    .bd-sidebar {
        height: 60vh;
        overflow-y: auto;
        padding: 20px;
    }
</style>


<!-- My profile部分 -->
<div class="row pb-4 mb-4 border-bottom">
    <div class="col">
        <h3 class=" fst-italic ">
            My Profile
        </h3>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#profileModal">Edit
        </button>

        <!-- The Modal -->
        <div class="modal" id="profileModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Company Profile</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- The form goes here -->
                        <form>
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Company name</label>
                                <input type="text" class="form-control" id="username" placeholder="Company name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="name@example.com">
                            </div>
                            <div class="form-group mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" class="form-control" id="City" placeholder="City">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Address">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Introduction" class="form-label">Company Introduction</label>
                                <textarea class="form-control" id="Introduction" rows="5"
                                    placeholder="Introduction"></textarea>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bd-content ps-lg-2 pb-4 mb-2">
    <ul>
        <li><strong>Company Name:</strong> Lidl</li>
        <li><strong>Phone:</strong> +44 07123456789</li>
        <li><strong>Email:</strong> Lidluk@gmail.com</li>
        <li><strong>City:</strong> Glasgow</li>
        <li><strong>Address:</strong> G2 61N</li>
        <li><strong>Company Introduction:</strong> Lidl is a leading global supermarket chain known for
            its commitment to providing high-quality products at affordable prices. With a strong
            presence in the retail industry, we strive to make shopping convenient, enjoyable, and
            budget-friendly for our customers.
        </li>
    </ul>
</div>


<!-- My Posts部分 -->
<div class="row pb-4 mb-4 border-bottom">
    <div class="col">
        <h3 class=" fst-italic ">
            My Posts
        </h3>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#postModal">New
        </button>

        <!-- The Modal -->
        <div class="modal" id="postModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">New Post</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- The form goes here -->
                        <form>
                            <div class="form-group mb-3">
                                <label for="Job" class="form-label">Job</label>
                                <input type="text" class="form-control" id="Job" placeholder="Job">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Salary" class="form-label">Salary</label>
                                <input type="number" class="form-control" id="Salary" placeholder="Salary">
                            </div>
                            <div class="form-group mb-3">
                                <label for="JobCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="JobCity" placeholder="City">
                            </div>
                            <div class="form-group mb-3">
                                <label for="JobType" class="form-label">Job Type</label>
                                <select class="form-select" id="JobType" aria-label="Default select example">
                                    <option selected>Open to select job type</option>
                                    <option value="1">Part-Time</option>
                                    <option value="2">Temporary</option>
                                    <option value="3">Volunteer</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Remote" class="form-label">Remote</label>
                                <select class="form-select" id="Remote" aria-label="Default select example">
                                    <option selected>Open to select remote type</option>
                                    <option value="1">In-Person</option>
                                    <option value="2">Hybrid</option>
                                    <option value="3">Remote</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Note" class="form-label">Note</label>
                                <textarea class="form-control" id="Note" rows="5"
                                    placeholder="Add any additional comments or notes"></textarea>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bd-sidebar ps-lg-2  pb-4 mb-4 ">
    <div class=list-group>
        <!-- 第一行 -->
        <a href="#item1Content" class="list-group-item" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="item1Content">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">Sales Associate</h5>

                <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
                    data-bs-target="#EditPost1">Edit</button>

                <!-- The Modal -->
                <div class="modal" id="EditPost1">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Post</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <!-- The form goes here -->
                                <form>
                                    <div class="form-group mb-3">
                                        <label for="Job" class="form-label">Job</label>
                                        <input type="text" class="form-control" id="Job" placeholder="Job">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Salary" class="form-label">Salary</label>
                                        <input type="number" class="form-control" id="Salary" placeholder="Salary">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="JobCity" placeholder="City">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobType" class="form-label">Job Type</label>
                                        <select class="form-select" id="JobType" aria-label="Default select example">
                                            <option selected>Open to select job type</option>
                                            <option value="1">Part-Time</option>
                                            <option value="2">Temporary</option>
                                            <option value="3">Volunteer</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Remote" class="form-label">Remote</label>
                                        <select class="form-select" id="Remote" aria-label="Default select example">
                                            <option selected>Open to select remote type</option>
                                            <option value="1">In-Person</option>
                                            <option value="2">Hybrid</option>
                                            <option value="3">Remote</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Note" class="form-label">Note</label>
                                        <textarea class="form-control" id="Note" rows="5"
                                            placeholder="Add any additional comments or notes"></textarea>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p class="mb-1">Salary: £18.90 / hour</p>
        </a>

        <!-- 第一行包含的application项 -->
        <div class="collapse" id="item1Content">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- 第二行 -->
        <a href="#item2Content" class="list-group-item" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="item2Content">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">Sales Associate</h5>

                <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
                    data-bs-target="#EditPost2">Edit</button>

                <!-- The Modal -->
                <div class="modal" id="EditPost2">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Post</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <!-- The form goes here -->
                                <form>
                                    <div class="form-group mb-3">
                                        <label for="Job" class="form-label">Job</label>
                                        <input type="text" class="form-control" id="Job" placeholder="Job">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Salary" class="form-label">Salary</label>
                                        <input type="number" class="form-control" id="Salary" placeholder="Salary">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="JobCity" placeholder="City">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobType" class="form-label">Job Type</label>
                                        <select class="form-select" id="JobType" aria-label="Default select example">
                                            <option selected>Open to select job type</option>
                                            <option value="1">Part-Time</option>
                                            <option value="2">Temporary</option>
                                            <option value="3">Volunteer</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Remote" class="form-label">Remote</label>
                                        <select class="form-select" id="Remote" aria-label="Default select example">
                                            <option selected>Open to select remote type</option>
                                            <option value="1">In-Person</option>
                                            <option value="2">Hybrid</option>
                                            <option value="3">Remote</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Note" class="form-label">Note</label>
                                        <textarea class="form-control" id="Note" rows="5"
                                            placeholder="Add any additional comments or notes"></textarea>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p class="mb-1">Salary: £18.90 / hour</p>
        </a>

        <!-- 第二行包含的application项 -->
        <div class="collapse" id="item2Content">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 第三行 -->
        <a href="#item3Content" class="list-group-item" data-bs-toggle="collapse" role="button" aria-expanded="false"
            aria-controls="item3Content">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">Sales Associate</h5>

                <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
                    data-bs-target="#EditPost3">Edit</button>

                <!-- The Modal -->
                <div class="modal" id="EditPost3">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Post</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <!-- The form goes here -->
                                <form>
                                    <div class="form-group mb-3">
                                        <label for="Job" class="form-label">Job</label>
                                        <input type="text" class="form-control" id="Job" placeholder="Job">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Salary" class="form-label">Salary</label>
                                        <input type="number" class="form-control" id="Salary" placeholder="Salary">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="JobCity" placeholder="City">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="JobType" class="form-label">Job Type</label>
                                        <select class="form-select" id="JobType" aria-label="Default select example">
                                            <option selected>Open to select job type</option>
                                            <option value="1">Part-Time</option>
                                            <option value="2">Temporary</option>
                                            <option value="3">Volunteer</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Remote" class="form-label">Remote</label>
                                        <select class="form-select" id="Remote" aria-label="Default select example">
                                            <option selected>Open to select remote type</option>
                                            <option value="1">In-Person</option>
                                            <option value="2">Hybrid</option>
                                            <option value="3">Remote</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="Note" class="form-label">Note</label>
                                        <textarea class="form-control" id="Note" rows="5"
                                            placeholder="Add any additional comments or notes"></textarea>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p class="mb-1">Salary: £18.90 / hour</p>
        </a>

        <!-- 第三行包含的application项 -->
        <div class="collapse" id="item3Content">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32"
                        class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Mike</h6>
                            <p class="mb-0 opacity-75">123@163.com</p>
                        </div>
                        <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i
                                    class="bi bi-check-lg"></i> Hire</button>
                            <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i
                                    class="bi bi-x-lg"></i>
                                Reject</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- My reviews部分 -->
<h3 class="pb-4 mb-4 fst-italic border-bottom">
    My Received Feedback
</h3>

<div class="bd-sidebar ps-lg-2  pb-4 mb-4 ">
    <div class=list-group>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">shangsan</h5>
            </div>
            <p class="mb-1">Job: Sales Associate</p>
            <p class="mb-1">Rate: 3.0/5.0</p>
            <p class="mb-1">Review: <span class="text-secondary">He consistently demonstrated excellent
                    customer service skills, always ensuring that our shoppers had a positive and
                    satisfying experience. Their friendly demeanor, coupled with a strong product
                    knowledge, made them a valuable asset in assisting customers with their inquiries
                    and product choices.</span></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">shangsan</h5>
            </div>
            <p class="mb-1">Job: Sales Associate</p>
            <p class="mb-1">Rate: 3.0/5.0</p>
            <p class="mb-1">Review: <span class="text-secondary">He consistently demonstrated excellent
                    customer service skills, always ensuring that our shoppers had a positive and
                    satisfying experience. Their friendly demeanor, coupled with a strong product
                    knowledge, made them a valuable asset in assisting customers with their inquiries
                    and product choices.</span></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between my-2">
                <h5 class="mb-1 text-primary">shangsan</h5>
            </div>
            <p class="mb-1">Job: Sales Associate</p>
            <p class="mb-1">Rate: 5.0/5.0</p>
            <p class="mb-1">Review: <span class="text-secondary">This student exhibited great attention
                    to detail
                    in maintaining the store's appearance and cleanliness. Their commitment to keeping
                    shelves organized and well-stocked significantly contributed to a pleasant shopping
                    environment for our customers..</span></p>
        </a>
    </div>
</div>

{% endblock %}