{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Company Information
{% endblock %}


{% block body_block %}

<style>
    .bd-sidebar {
        height: 60vh;
        overflow-y: auto;
        padding: 20px;
    }
</style>


<!-- My profile部分 -->
<div class="row pb-4 mb-4 border-bottom">
    <div class="col">
        <h3 class=" fst-italic ">
            My Profile
        </h3>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#profileModal">Edit
        </button>

        <!-- The Modal -->
        <div class="modal" id="profileModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Company Profile</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- The form goes here -->
                        <form>
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Company name</label>
                                <input type="text" class="form-control" id="username" placeholder="Company name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="name@example.com">
                            </div>
                            <div class="form-group mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" class="form-control" id="City" placeholder="City">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Address">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Introduction" class="form-label">Company Introduction</label>
                                <textarea class="form-control" id="Introduction" rows="5"
                                    placeholder="Introduction"></textarea>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bd-content ps-lg-2 pb-4 mb-2">
    <ul>
        <li><strong>Company Name:</strong> {{ user.user_name }}</li>
        <li><strong>Phone:</strong> {{ user.phone }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>City:</strong> {{ user.city }}</li>
        <li><strong>Company Introduction:</strong> Lidl is a leading global supermarket chain known for
            its commitment to providing high-quality products at affordable prices. With a strong
            presence in the retail industry, we strive to make shopping convenient, enjoyable, and
            budget-friendly for our customers.
        </li>
    </ul>
</div>


<!-- My Posts部分 -->
<div class="row pb-4 mb-4 border-bottom">
    <div class="col">
        <h3 class=" fst-italic ">
            My Posts
        </h3>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#postModal">New
        </button>

        <!-- The Modal -->
        <div class="modal" id="postModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">New Post</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- The form goes here -->
                        <form>
                            <div class="form-group mb-3">
                                <label for="Job" class="form-label">Job</label>
                                <input type="text" class="form-control" id="Job" placeholder="Job">
                            </div>
                            <div class="form-group mb-3">
                                <label for="Salary" class="form-label">Salary</label>
                                <input type="number" class="form-control" id="Salary" placeholder="Salary">
                            </div>
                            <div class="form-group mb-3">
                                <label for="JobCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="JobCity" placeholder="City">
                            </div>
                            <div class="form-group mb-3">
                                <label for="JobType" class="form-label">Job Type</label>
                                <select class="form-select" id="JobType" aria-label="Default select example">
                                    <option selected>Open to select job type</option>
                                    <option value="1">Part-Time</option>
                                    <option value="2">Temporary</option>
                                    <option value="3">Volunteer</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Remote" class="form-label">Remote</label>
                                <select class="form-select" id="Remote" aria-label="Default select example">
                                    <option selected>Open to select remote type</option>
                                    <option value="1">In-Person</option>
                                    <option value="2">Hybrid</option>
                                    <option value="3">Remote</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Note" class="form-label">Note</label>
                                <textarea class="form-control" id="Note" rows="5"
                                    placeholder="Add any additional comments or notes"></textarea>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bd-sidebar ps-lg-2  pb-4 mb-4 ">
    <div class=list-group id="jobs-list">
        <!-- job list -->
    
    </div>
</div>


<!-- My reviews部分 -->
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        My Received Feedback
    </h3>

<div class="bd-sidebar ps-lg-2  pb-4 mb-4 ">
    <div class=list-group id="userFeedbacks">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var jobDetailBaseUrl = "{% url 'job_detail' job_id=0 %}".replace('/0/', '/');


    $(document).ready(function() { 
    $.ajax({
        url: '{% url "get_job_by_employer_Id" user.id %}',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
            var jobsHtml = ''
            var jobIds = response.jobs.map(job => job.id);
            

           // 遍历并展示所有职位
           response.jobs.forEach( function(job) {
               jobsHtml += `
                   <a href="#item${ job.id }Content" class="list-group-item" data-bs-toggle="collapse" role="button" aria-expanded="false"
                       aria-controls="item${job.id }Content">
                       <div class="d-flex w-100 justify-content-between my-2">
                           <h5 class="mb-1 text-primary">${job.title}</h5>
                           <p class="mb-1">Salary: £${ job.salary} / hour</p>
                           <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
                               data-bs-target="#EditPost${ job.id }">Edit</button>
                       </div>
                       <!-- The Modal -->
                       <div class="modal" id="EditPost${ job.id }">
                           <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                               <div class="modal-content">

                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                       <h4 class="modal-title">Edit Post</h4>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                           aria-label="Close"></button>
                                   </div>

                                   <!-- Modal Body -->
                                   <div class="modal-body">
                                       <!-- The form goes here -->
                                       <form>
                                           <div class="form-group mb-3">
                                               <label for="Job" class="form-label">Job</label>
                                               <input type="text" class="form-control" id="Job" placeholder="Job">
                                           </div>
                                           <div class="form-group mb-3">
                                               <label for="Salary" class="form-label">Salary</label>
                                               <input type="number" class="form-control" id="Salary" placeholder="Salary">
                                           </div>
                                           <div class="form-group mb-3">
                                               <label for="JobCity" class="form-label">City</label>
                                               <input type="text" class="form-control" id="JobCity" placeholder="City">
                                           </div>
                                           <div class="form-group mb-3">
                                               <label for="JobType" class="form-label">Job Type</label>
                                               <select class="form-select" id="JobType" aria-label="Default select example">
                                                   <option selected>Open to select job type</option>
                                                   <option value="1">Part-Time</option>
                                                   <option value="2">Temporary</option>
                                                   <option value="3">Volunteer</option>
                                               </select>
                                           </div>
                                           <div class="form-group mb-3">
                                               <label for="Remote" class="form-label">Remote</label>
                                               <select class="form-select" id="Remote" aria-label="Default select example">
                                                   <option selected>Open to select remote type</option>
                                                   <option value="1">In-Person</option>
                                                   <option value="2">Hybrid</option>
                                                   <option value="3">Remote</option>
                                               </select>
                                           </div>
                                           <div class="form-group mb-3">
                                               <label for="Note" class="form-label">Note</label>
                                               <textarea class="form-control" id="Note" rows="5"
                                                   placeholder="Add any additional comments or notes"></textarea>
                                           </div>

                                           <!-- Modal Footer -->
                                           <div class="modal-footer">
                                               <button type="button" class="btn btn-secondary"
                                                   data-dismiss="modal">Close</button>
                                               <button type="submit" class="btn btn-primary">Submit</button>
                                           </div>
                                       </form>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </a>
                   <!-- applications -->
                   <div class="collapse" id="item${ job.id }Content">
                       <div class="list-group" id="applications${job.id}">                        
                       </div>
                   </div>
                   `;
                // 获取并显示每个工作的申请
    
                
           });
           $('#jobs-list').html(jobsHtml); 
           response.jobs.forEach(function(job) {
            fetchAndDisplayApplications(job.id);
            
            });
            fetchAndDisplayFeedbacks(jobIds);

           
        },
        error: function (xhr, status, error) {
            console.error("Error fetching jobs info:", error);
        }
    });
   });
   
function fetchAndDisplayApplications(jobId) {
    $.ajax({
        url: '{% url "get_applications_by_job" 0 %}'.replace('0', jobId), // 确保你的 URL 和参数名称正确
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            var applicationsHtml = '';
            response.applications.forEach(function(application) {
                
                applicationsHtml += `
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="{% static 'image/person-fill.svg' %}" alt="twbs" width="32" height="32" class="flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">${application.user__user_name}</h6>
                                <p class="mb-0 opacity-75">${application.user__email}</p>
                            </div>
                            <div class="d-flex gap-2 justify-content-between" role="group" aria-label="Small button group">
                                <button type="button" class="btn btn-success btn-sm rounded-pill px-3"><i class="bi bi-check-lg"></i> Hire</button>
                                <button type="button" class="btn btn-danger btn-sm rounded-pill px-3"><i class="bi bi-x-lg"></i> Reject</button>
                            </div>
                        </div>
                    </a>
                `;
            });
            $(`#applications${jobId}`).html(applicationsHtml); // 确保每个工作的申请列表有一个唯一的 ID
        },
        error: function(xhr, status, error) {
            console.error("Error fetching applications:", error);
        }
    });
}



function fetchAndDisplayFeedbacks(jobIds) {
jobIds.forEach(function(jobId) {
    $.ajax({
        url: '{% url "get_feedback_by_job" 0 %}'.replace('0', jobId),
        type: 'GET',
        dataType: 'json',
        success: function (response) {
            var feedbacksHtml = '';
            console.log('Feedback response for job ' + jobId + ':', response); // Debugging
            response.feedbacks.forEach(function (feedback) {
                var jobDetailUrl = jobDetailBaseUrl + feedback.job_id + '/';
                feedbacksHtml += ` 
                        <a href="${jobDetailUrl}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between my-2">
                                <h5 class="mb-1 text-primary">${feedback.job__title}</h5>
                                <small>Rated: ${feedback.rate}/5</small>
                            </div>
                            <p class="mb-1">Comment: ${feedback.comment}</p>
                            <p class="mb-1">Date: ${new Date(feedback.date).toLocaleDateString()}</p>
                        </a>
                    `;
            });
            $('#userFeedbacks').append(feedbacksHtml);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching feedbacks:", error);
        }
    });
  });
 }
</script>

{% endblock %}