{% extends 'base.html' %}
<!--{% load static %}-->

{% block title_block %}
Job Seeker Information
{% endblock %}

{% block body_block %}

<style>
    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete-application {
        padding: 5px 10px;
        border: 1px solid red;
        color: red;
        cursor: pointer;
        border-radius: 5px;
    }

    .delete-application:hover {
        background-color: red;
        color: white;
    }

    .text-decoration-none {
        text-decoration: none;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .ms-auto {
        margin-left: auto;
    }


    .bd-sidebar {
        height: 60vh;
        overflow-y: auto;
        padding: 20px;
    }
</style>

<!-- My profile部分 -->
<div class="row pb-4 mb-4 border-bottom">
    <div class="col">
        <h3 class=" fst-italic ">
            My Profile
        </h3>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#changeModal">Change Password
        </button>
        <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" data-bs-toggle="modal"
            data-bs-target="#profileModal">Edit
        </button>

        <!-- The Modal -->
        <div class="modal" id="profileModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Personal Profile</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- The form goes here -->
                        <form>
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" value = {{user.user_name}}>
                            </div>
                            <div class="form-group mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" value = {{user.email}}>
                            </div>
                            <div class="form-group mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" value = {{user.phone}}>
                            </div>
                            <div class="form-group mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" class="form-control" id="City" value = {{user.city}}>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="changeModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Change Password</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form id="changePasswordForm">
                            <div class="form-group mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newPassword" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmNewPassword" required>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="handleSubmitChangePassword()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bd-content ps-lg-2 pb-4 mb-2" id="UserProfile">
    <ul>
        <li><strong>Username:</strong> </li>
        <li><strong>Email:</strong> </li>
        <li><strong>Phone:</strong> </li>
        <li><strong>Account Date:</strong> </li>
        <li><strong>City:</strong> </li>
    </ul>
</div>


<!-- My Applications部分 -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="pb-4 mb-0 fst-italic border-bottom">
        My Applications
    </h3>
    <select id="applicationStatusFilter" class="form-select w-auto">
        <option value="all">All</option>
        <option value="1">Applying</option>
        <option value="2">Success</option>
        <option value="3">Rejected</option>
        <option value="4">Error</option>
    </select>
</div>

<div class="bd-sidebar ps-lg-2  pb-4 mb-4">
    <div class=list-group id="userApplications">
    </div>
</div>


<!-- My reviews部分 -->
    <h3 class="pb-4 mb-0 fst-italic border-bottom">
        My Reviews
    </h3>


<div class="bd-sidebar ps-lg-2  pb-4 mb-4 ">
    <div class=list-group id="userFeedbacks">
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    //获取没有 job_id 的 URL
    var jobDetailBaseUrl = "{% url 'job_detail' job_id=0 %}".replace('/0/', '/');
    var deleteApplicationUrlTemplate = '{% url "delete_application" application_id=0 %}'.replace('/0/', '/');
    var deleteFeedbackUrlTemplate = '{% url "delete_feedback" feedback_id=0 %}'.replace('/0/', '/');
    var allreviews = [];

    function handleSubmitChangePassword() {
        var newPassword = $('#newPassword').val();
        var confirmNewPassword = $('#confirmNewPassword').val();
        if(newPassword !== confirmNewPassword) {
            alert('Passwords do not match.');
            return;
        }
        var userId = {{ user.id }};
        $.ajax({
            url: '{% url "change_password" user.id %}',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({new_password: newPassword}),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response) {
                $('#changeModal').modal('hide');
                alert('Password changed successfully');
            },
            error: function(xhr, status, error) {
                alert('Error: ' + xhr.responseJSON.error);
            }
        });
    }
</script>

<script>
    function getStatusBadge(status) {
        switch (status) {
            case 1:
                return '<span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Applying</span>';
            case 2:
                return '<span class="badge bg-success-subtle text-success-emphasis rounded-pill">Success</span>';
            case 3:
                return '<span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Rejected</span>';
            case 4:
                return '<span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Error</span>';
            default:
                return '<span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">Unknown</span>';
        }
    }

    $(document).ready(function () {
        var userId = '{{ user.id }}';

        $.ajax({
            url: '{% url "get_user_info" user.id %}',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var user = response.userInfo;
                if (user) {
                    var date = new Date(user.date).toISOString().split('T')[0];

                    var userInfoHtml = `
                    <li><strong>Username:</strong> ${user.user_name}</li>
                    <li><strong>Email:</strong> ${user.email}</li>
                    <li><strong>Phone:</strong> ${user.phone}</li>
                    <li><strong>City:</strong> ${user.city}</li>
                `;

                    $('#UserProfile ul').html(userInfoHtml);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching user info:", error);
            }
        });

        $.ajax({
            url: '{% url "get_applications_by_user" user.id %}',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var applicationsHtml = response.applications.map(function (app) {
                    var formattedDate = new Date(app.apply_date).toLocaleDateString();
                    var statusBadge = getStatusBadge(app.status);
                    var jobDetailUrl = jobDetailBaseUrl + app.job_id + '/';
                    return `
                    <div class="list-group-item list-group-item-action d-flex align-items-center py-3" aria-current="true">
                            <div class="flex-grow-1">
                                <a href="${jobDetailUrl}" class="text-decoration-none">
                                    <h5 class="mb-1 text-primary">${app.job__title}</h5>
                                </a>
                                <span>${statusBadge}</span>
                                <small> | ${formattedDate}</small>
                            </div>
                            ${app.status != 1 ? `<div class="ms-auto"><span class="delete-application" data-application-id="${app.id}">Delete</span></div>` : ''}
                        </div>
                    `;
                }).join('');

                $('#userApplications').html(applicationsHtml);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching application info:", error);
            }
        });
    });

    $.ajax({
        url: '{% url "get_feedback_by_user" user.id %}',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
            var feedbacksHtml = '';
            allreviews = response.feedbacks;
            response.feedbacks.forEach(function (feedback) {
                var jobDetailUrl = jobDetailBaseUrl + feedback.job_id + '/';
                feedbacksHtml += `
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <a href="${jobDetailUrl}" class="text-decoration-none">
                            <h5 class="mb-1 text-primary">${feedback.job__title}</h5>
                        </a>
                        <div>${feedback.rate}/5 Stars</div>
                    </div>
                    <div class="flex-grow-1 d-flex justify-content-center">
                        <p class="mb-1 text-truncate">${feedback.comment.length > 20 ? feedback.comment.substring(0, 20) + '...' : feedback.comment}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <small class="me-2">${new Date(feedback.date).toLocaleDateString()}</small>
                        <span class="delete-feedback" data-feedback-id="${feedback.id}" style="cursor: pointer; color: red; border: 1px solid red; padding: 2px 5px; border-radius: 5px;">Delete</span>
                    </div>
                </div>
                `;
            });
            $('#userFeedbacks').html(feedbacksHtml);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching feedbacks:", error);
        }
    });


    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();
            var userId = {{ user.id }};
            var updateUrl = "{% url 'update_user_info' user_id=user.id %}";

            var formData = {
                "username": $('#username').val(),
                "email": $('#Email').val(),
                "phone": $('#phone').val(),
                "city": $('#City').val()
            };

            $.ajax({
                url: updateUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    alert("User information updated successfully");
                    $('#profileModal').modal('hide');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert("Failed to update user information");
                }
            });
        });
    });


    $('#applicationStatusFilter').on('change', function() {
        var selectedStatus = $(this).val();
        filterApplications(selectedStatus);
    });

    function filterApplications(status) {
    var userId = '{{ user.id }}';
        var url = '{% url "get_applications_by_user" user.id %}';

        if (status !== 'all') {
            url += '?status=' + status;
        }

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                var applicationsHtml = response.applications.map(function (app) {
                    if(status === 'all' || app.status.toString() === status) {
                        var formattedDate = new Date(app.apply_date).toLocaleDateString();
                        var statusBadge = getStatusBadge(app.status);
                        var jobDetailUrl = jobDetailBaseUrl + app.job_id + '/';
                        return `
                        <div class="list-group-item list-group-item-action d-flex align-items-center py-3" aria-current="true">
                            <div class="flex-grow-1">
                                <a href="${jobDetailUrl}" class="text-decoration-none">
                                    <h5 class="mb-1 text-primary">${app.job__title}</h5>
                                </a>
                                <span>${statusBadge}</span>
                                <small> | ${formattedDate}</small>
                            </div>
                            ${app.status != 1 ? `<div class="ms-auto"><span class="delete-application" data-application-id="${app.id}">Delete</span></div>` : ''}
                        </div>
                        `;
                    }
                }).join('');
                $('#userApplications').html(applicationsHtml);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching application info:", error);
            }
        });
    }

    $(document).on('click', '.delete-application', function() {
    var applicationId = $(this).data('application-id');
    var deleteUrl = deleteApplicationUrlTemplate + applicationId + '/';
    if (confirm('Are you sure you want to delete this application?')) {
        $.ajax({
            url: deleteUrl,
            type: 'DELETE',
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert('Failed to delete application.');
            }
        });
    }
});


$(document).on('click', '.delete-feedback', function() {
    var feedbackId = $(this).data('feedback-id');
    var deleteUrl = deleteFeedbackUrlTemplate + feedbackId + '/';
    if (confirm('Are you sure you want to delete this feedback?')) {
        $.ajax({
            url: deleteUrl,
            type: 'DELETE',
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response) {
                alert('Feedback deleted successfully');
                location.reload();
            },
            error: function(xhr, status, error) {
                alert('Failed to delete feedback');
            }
        });
    }
});

</script>


{% endblock %}